<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LexLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LexLib.Properties.Settings>
            <setting name="MaxBuf" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="MaxStr" serializeAs="String">
                <value>1024</value>
            </setting>
        </LexLib.Properties.Settings>
    </applicationSettings>
</configuration>